<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--BootStrap Date Picker-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
</head>
<body>

<script>
    $(document).ready(function () {
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('.datepicker-iso form').length > 0 ? $('.datepicker-iso form').parent() : "body";
        date_input.datepicker({
            format: 'MM/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>

<div class="row">
    <div class="col-md-12 well">
        <a class="btn btn-primary" data-toggle="modal" data-target="#employee"><i
                class="fa fa-fw -square -circle fa-plus-square"></i>New Employee</a>
    </div>
</div>
<div class="fade modal" id="employee">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title" id="myModalLabel">Hiring Form</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="post" th:action="@{/addEmp}" th:object="${employee}">
                    <fieldset>
                        <!-- Form Name -->
                        <!-- Prepended text-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="firstName">First Name</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon"></span>
                                    <input id="firstName" name="firstName" class="form-control" th:field="*{firstName}"
                                           placeholder="First Name" type="text" required=""/>
                                </div>
                            </div>
                        </div>
                        <!-- Prepended text-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="lastName">Last Name</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                    <input id="lastName" name="lastName" class="form-control" th:field="*{lastName}"
                                           placeholder="Last Name" type="text" required=""/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="age">Age</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                    <input id="age" name="age" class="form-control" placeholder="Age" th:field="*{age}"
                                           type="text" required=""/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="gender">Gender</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                    <input id="gender" name="gender" class="form-control" th:field="*{gender}"
                                           placeholder="Gender" type="text" required=""/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="phoneNumber">Phone Number</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                    <input id="phoneNumber" name="phoneNumber" class="form-control" th:field="*{phoneNumber}"
                                           placeholder="Phone Number" type="text" required=""/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email">email</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                    <input id="email" name="email" class="form-control" th:field="*{email}"
                                           placeholder="E-mail" type="email" required=""/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="salary">Salary</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                    <input id="salary" name="salary" class="form-control" th:field="*{salary}"
                                           placeholder="Salary" type="number" required=""/>
                                </div>
                            </div>
                        </div>
                        <!--<div class="container-fluid">-->
                            <!--<div class="row">-->
                                <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="control-label" th:for="hireDate">Hiring Date</label>-->
                                        <!--<input class="form-control getdate" id="date" name="date" type="date" th:field="*{hireDate}" placeholder="yyyy-MM-dd"-->
                                               <!--th:text="${#dates.format(employee.hireDate,'MM-dd-yyyy')}"/>-->
                                        <button type="submit" class="btn btn-default btn-block btn-custom"><strong>Hire this one!</strong></button>
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </fieldset>
                </form>
            </div>

        </div>
    </div>
</div>

</body>
</html>