<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a Employee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" media="all"
          th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

</head>
<body>
<form method="post" th:object="${employee}">
    <div class="form-group">
        <label class="control-label col-sm-2" th:for="id">ID</label>
        <input class="form-control" th:field="*{id}"/>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" th:for="firstName">First Name</label>
        <input class="form-control" th:field="*{firstName}"/>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" th:for="lastName">Last Name</label>
        <input class="form-control" th:field="*{lastName}"/>
    </div>

    <div class="form-group">
        <label th:for="age">Age</label>
        <input class="form-control" th:field="*{age}"/>
    </div>

    <div class="form-group">
        <label th:for="gender">Gender</label>
        <input class="form-control" th:field="*{gender}"/>
    </div>

    <div class="form-group">
        <label th:for="phoneNumber">Phone Number</label>
        <input class="form-control" th:field="*{phoneNumber}"/>
    </div>

    <div class="form-group">
        <label th:for="email">Email</label>
        <input class="form-control" th:field="*{email}"/>
    </div>

    <div class="form-group">
        <label th:for="salary">Salary</label>
        <input class="form-control" th:field="*{salary}"/>
    </div>

    <!--<div class="form-group">-->
    <!--<label th:for="hireDate">Hire Date</label>-->
    <!--<input class="form-control" th:field="*{hireDate}"/>-->
    <!--</div>-->
    <button type="submit" class="btn btn-success ">Submit</button>
</form>


</body>
</html>