<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--BootStrap Date Picker-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <meta charset="utf-8"/>
    <title>Bootstrap Form Style </title>
</head>
<body>

<script>
    $(document).ready(function () {
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('.datepicker-iso form').length > 0 ? $('.datepicker-iso form').parent() : "body";
        date_input.datepicker({
            format: 'yyyy/MM/dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>
<div class="row">
    <div class="col-md-12 well">
        <a class="btn btn-primary" data-toggle="modal" data-target="#customer"><i
                class="fa fa-fw -square -circle fa-plus-square"></i>New Reservation</a>
    </div>

<div class="fade modal" id="customer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title" id="myModalLabel">Reservation Form</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="post" th:object="${customer}">
                        <!-- Form Name -->
                        <!-- Prepended text-->
                    <fieldset>
                        <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}">
                            <label class="col-md-4 control-label" for="firstName">First Name</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon"></span>
                                    <input id="firstName"  class="form-control" placeholder="First Name" th:field="*{firstName}" type="text" required=""/>
                                </div>
                            </div>
                        </div>
                        <!-- Prepended text-->
                        <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
                            <label class="col-md-4 control-label" for="lastName">Last Name</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                    <input id="lastName" class="form-control" placeholder="Last Name"  th:field="*{lastName}" type="text" required=""/>
                                </div>
                            </div>
                        </div>



                        <div class="form-group" th:classappend="${#fields.hasErrors('phoneNumber')}">
                            <label class="col-md-4 control-label" for="phoneNumber">Phone Number</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                    <input id="phoneNumber" th:field="*{phoneNumber}" class="form-control"
                                           placeholder="Phone Number" type="text" required=""/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('seats')}">
                            <label class="col-md-4 control-label" th:for="seats">seats</label>
                            <div class="col-md-5">
                                <td data-name="sel">
                                    <select th:field="*{seats}">
                                        <option selected="selected" value="">Select Persons</option>
                                        <option th:value="1">1</option>
                                        <option th:value="2">2</option>
                                        <option th:value="3">3</option>
                                        <option th:value="4">4</option>
                                        <option value="More than 4">More than 4</option>

                                    </select>
                                </td>
                            </div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('comments')}">
                        <td data-name="desc">
                        <textarea th:field="*{comments}"  placeholder="If more than 4 person please give details about the current reservation"
                                  class="form-control"></textarea>
                        </td>
                        </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" th:classappend="${#fields.hasErrors('reservationDate')}">
                                    <label class="control-label" th:for="reservationDate">Reservation Date</label>
                                    <input class="form-control" id="date" name="date" type="date"/>
                                    <button type="submit" class="btn btn-default btn-block btn-custom"><strong>Book this one!</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>
</div>
</body>

</html>
