<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Menu</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="feature-gallery">
                <img class="thumb"
                     src="https://www.thelocal.it/userdata/images/article/69523836b0191608c41d640feead8da2be5462038d3409e1e3900fad039c7fc8.jpg"
                     alt="" title=""/>
                <div class="fg-overlay">
                    <h2>Exchange of goods and services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="feature-gallery">
                <img class="thumb" src="http://www.nycoffee.com/order/images/Blackened-Chicken-Fettuccine-Alfredo.jpg"
                     alt="" title=""/>
                <div class="fg-overlay">
                    <h2>Exchange of goods and services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="feature-gallery">
                <img class="thumb" src="http://www.nycoffee.com/order/images/Blackened-Chicken-Fettuccine-Alfredo.jpg"
                     alt="" title=""/>
                <div class="fg-overlay">
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="feature-gallery">
                <img class="thumb" src="http://www.nycoffee.com/order/images/Blackened-Chicken-Fettuccine-Alfredo.jpg"
                     alt="" title=""/>
                <div class="fg-overlay">
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="feature-gallery">
                <img class="thumb" src="" alt="" title=""/>
                <div class="fg-overlay">
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="feature-gallery">
                <img class="thumb" src="http://www.nycoffee.com/order/images/Blackened-Chicken-Fettuccine-Alfredo.jpg"
                     alt="" title=""/>
                <div class="fg-overlay">
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="feature-gallery">
                <img class="thumb" src="http://www.nycoffee.com/order/images/Blackened-Chicken-Fettuccine-Alfredo.jpg"
                     alt="" title=""/>
                <div class="fg-overlay">
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="feature-gallery">
                <img class="thumb" src="http://www.nycoffee.com/order/images/Blackened-Chicken-Fettuccine-Alfredo.jpg"
                     alt="" title=""/>
                <div class="fg-overlay">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>