<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<form method="post" th:object="${credentials}" action="/updateCredentials">
    <div class="form-group">
        <label class="control-label col-sm-2" th:for="idGet">UID</label>
        <input class="form-control" th:type="number" name="idGet" th:value="${idGet}"/>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" th:for="id">ID</label>
        <input class="form-control" th:field="*{uid}"/>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" th:for="username">Username</label>
        <input class="form-control" th:field="*{username}"/>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" th:for="password">Password</label>
        <input class="form-control" th:field="*{password}"/>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" th:for="role">Role</label>
        <input class="form-control" th:field="*{role}"/>
    </div>
    <button type="submit" class="btn btn-success " name="action" value="save">Submit</button>
    <button type="submit" class="btn btn-success " name="action" value="get">GET</button>
</form>

</body>
</html>